#ºöÂÔ.svn
.svn
#ºöÂÔ.git
.git
#ºöÂÔ.gitÎÄ¼ş
*.git*
*.tgit*

*.tlog
*.obj
*.log
*.tlh
*.lastbuildstate
*.manifest
*.aps
*.tags_sorted_by_file
*.suo
*.pdb
*.idb
*.pch
*.user
*.o *.lo *.la *.al .libs *.so *.so.[0-9]* *.a *.pyc *.pyo __pycache__ *.rej *~ #*# .#* .*.swp .DS_Store *.ilk *.tlog *.log *.lastbuildstate *.pch *.pdb *.cache *.tlh *.obj *.pch *. *.exp *.idb *.opensdf *.mainfest